@import 'tailwindcss/preflight';
@import 'tailwindcss';

@tailwind utilities;

html {
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
}
body {
	@apply font-sans bg-white text-gray-900;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply font-semibold;
}
